{% import "macros/macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="{{lang}}">
{% include "partials/header.html" %}

<body>
    <div class="content">
        {% include "partials/head.html" %}

        {% block main_content %}
        
        <main class="list">
            <h1>{{ section.title }}</h1>
            {% if section.description %}
                <p>{{ section.description }}</p>
            {% endif %}
            {{ section.content | safe }}
        </main>

        {% if paginator %}
            <ul class="pagination">
                {% if paginator.previous %}
                    <span class="page-item page-prev">
                        <a href={{ paginator.previous }} class="page-link" aria-label="Previous"><span aria-hidden="true">{{ config.extra.translations[lang][0].previous_page }}</span></a>
                    </span>
                {% endif %}

                {% if paginator.next %}
                    <span class="page-item page-next">
                        <a href={{ paginator.next }} class="page-link" aria-label="Next"><span aria-hidden="true">{{ config.extra.translations[lang][0].next_page }}</span></a>
                    </span>
                {% endif %}
            </ul>
        {% endif %}

        {% endblock main_content %}

        {% include "partials/footer.html" %}
    </div>
</body>

</html>